{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<!-- <link rel="stylesheet" href="/public/css/markdown-github.css"> -->
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="markdown-body">
        <h1 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span
              class="headeranchor"></span></a>{{topic.title}}</h1>
        <h4><a name="user-content-_2" href="#_2" class="headeranchor-link" aria-hidden="true">{{topic.publisher}}</a>
        </h4>
        <a href="">粉丝{{quser.fans}}</a> <br>
        <!-- <a href="javascript:void(0)" id="getfan">+关注</a> -->
        <button type="button" id="getfan">关注</button>
        <p>{{topic.content}}</p>
      </article>
      {{ each comments comment index }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>{{comment.from_nickname}}</span> 评论
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-thumbs-down pull-right"></i>{{ comment.like }}</a>
          </span>
        </div>
        <div class="panel-body">
          {{ comment.content }}
        </div>
        <hr>
        <div class="reply-body">
          <form id="reply-body">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <a href="">答复</a>
          </form>
        </div>
      </div>
      {{ /each }}
      <hr>
      <form id="comment_form">
        <div class="form-group">
          <label for="">添加回复</label>
          <textarea class="form-control" name="content" id="" cols="10" rows="10"></textarea>
        </div>
        <div class="form-group" style="display: none;">
          <label for="">评论人id</label>
          <input type="text" name="from_id" value="{{user._id}}">
        </div>
        <div class="form-group" style="display: none;">
          <label for="">评论人昵称</label>
          <input type="text" name="from_nickname" value="{{user.nickname}}">
        </div>
        <div class="form-group" style="display: none;">
          <label for="">文章id</label>
          <input type="text" name="topic_id" value="{{topic.id}}">
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
</section>
{{/block}}


{{ block 'script' }}
<script>
  $('#comment_form').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    $.ajax({
      url: "/comment", //请求后台
      dataType: "json",
      type: "post",
      async: true,
      data: formData,
      success: function (data) {
        var err_code = data.err_code
        console.log(err_code)
        if (err_code === 0) {
          window.location.reload()
        }
      }
    });
  })


  $('#getfan').click(function (e) {
    // $('#getfan').text('已关注')
    $.ajax({
      url: "/getfan", //请求后台
      dataType: "json",
      type: "get",
      data: "user_id={{topic.publisher_id}}&fan_id={{user._id}}",
      success: function (data) {
        var err_code = data.err_code
        if (err_code === 0) {
          window.alert('关注成功');
          window.location.reload()
        }
        if(err_code === 1){
          window.alert('已关注过啦')
        }
      }
    });
  })
</script>





{{ /block }}